<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaoqisen.webcenter.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.gaoqisen.webcenter.entity.SysMenu">
    <!--@mbg.generated-->
    <!--@Table sys_menu-->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    menu_id, parent_id, `name`, url, perms, `type`, icon, order_num
  </sql>
<!--  通过应用名称获取菜单 -->
  <select id="queryMenuByApplicationName" resultMap="BaseResultMap" parameterType="String">
    select a.* from sys_menu a
        left join sys_code_menu b on a.menu_id = b.menu_id
        left join sys_code c on b.sys_id = c.id
    where c.application_name = #{applicationName}
  </select>
<!-- 通过用户ID和应用名称获取菜单列表 -->
  <select id="queryMenuByUserIdAndApplicationNameAndParentId" resultMap="BaseResultMap" parameterType="map">
    select a.* from sys_menu a
      left join sys_code_menu b on a.menu_id = b.menu_id
      left join sys_code c on b.sys_id = c.id
      left join sys_role_menu d on a.menu_id = d.menu_id
      left join sys_user_role e on d.role_id = e.role_id
    where c.application_name = #{applicationName} and e.user_id = #{userId} and PARENT_ID = #{parentId}
  </select>
  <select id="queryMenu" resultMap="BaseResultMap" parameterType="string">
    select c.* from sys_code a
      left join sys_code_menu b on a.id = b.sys_id
      left join sys_menu c on b.menu_id = c.menu_id
    where a.application_name = #{applicationName} and c.type = 0
  </select>
</mapper>